@font-face {
    font-family: norwester;
    src: url(../Fonts/norwester\ copy.otf);
}
.landing-section {
    background-color: #EAE294;
}

.welcome {
    font-family: norwester;
}

@media only screen and (max-width: 767px){

    
    .landing-img {
        
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
        width: 345px;
        height: 345px;
       
    }
    
    .welcome{
        font-weight: 400;
        font-size: 40px;
        line-height: 48px;
        text-align: center;
        color: #FFFFFF;
        
    }

    

    .landing-btn {
        color: #FFFFFF;
        border: none;
        width: 143px;
        height: 44px;
        background: #F7CB15;
        font-family: norwester;
        font-weight: 400;
        font-size: 16px;
        /* border: 1px solid red; */
        margin-left: auto;
        margin-right: auto;
        cursor: pointer;
        
    }

    .btn-group{
        display: grid;
        /* border: 1px solid red; */
    }

    #landing-btn1 {
        margin-top: 34px;
        margin-bottom: 10px;
    }
    
    #landing-btn2 {
        margin-top: 10px;
        margin-bottom: 34px;
    }
    
 
}